<h2 mat-dialog-title>{{ $isEdit() ? 'Editar cliente' : 'Nuevo cliente' }}</h2>

<form [formRoot]="clienteForm.$form" (submit)="operate()">
    <mat-dialog-content class="example-container">
        <div [hidden]="true">
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" [formField]="clienteForm.$form.idCliente"/>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>NOMBRES</mat-label>
            <input matInput placeholder="Nombres" [formField]="clienteForm.$form.nombresCliente"/>
            @if (clienteForm.$form.nombresCliente().errors().some(error => error.kind === 'required') && clienteForm.$form.nombresCliente().touched()) {
                <small class="invalid">Es requerido</small>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>APELLIDOS</mat-label>
            <input matInput placeholder="Apellidos" [formField]="clienteForm.$form.apellidosCliente"/>
            @if (clienteForm.$form.apellidosCliente().errors().some(error => error.kind === 'required') && clienteForm.$form.apellidosCliente().touched()) {
                <small class="invalid">Es requerido</small>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>CÉDULA</mat-label>
            <input matInput placeholder="Cédula" [formField]="clienteForm.$form.cedulaCliente"/>
            @if (clienteForm.$form.cedulaCliente().errors().some(error => error.kind === 'required') && clienteForm.$form.cedulaCliente().touched()) {
                <small class="invalid">Es requerido</small>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>EMAIL</mat-label>
            <input matInput placeholder="Email" [formField]="clienteForm.$form.emailCliente"/>
            @if (clienteForm.$form.emailCliente().errors().some(error => error.kind === 'required') && clienteForm.$form.emailCliente().touched()) {
                <small class="invalid">Es requerido</small>
            }
            @if (clienteForm.$form.emailCliente().errors().some(error => error.kind === 'email') && clienteForm.$form.emailCliente().touched()) {
                <small class="invalid">Email inválido</small>
            }
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-flat-button type="submit" [disabled]="clienteForm.isInvalid()">
            <span>Guardar</span>
            <mat-icon>done</mat-icon>
        </button>

        <button mat-flat-button type="button" class="cancel-button" (click)="cancel()">
            <span>Cancelar</span>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-dialog-actions>
</form>
